.upper {
    width: 100%;
    height: 50vh;
    background-color: #EBF4FF;
 
}
.middle {
    width: 100%;
    height: 40vh;
    /* background-color: blue; */
}
.bottom {
    margin-top: 10%;
    width: 100%;
    height: 30vh;
    background-color:#0A459E;
}


.heading > p {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.0;

}

.heading{
    width: 50%;
    height: 40%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-left: 30%;
    margin-top: 0%;
     line-height: 1.0;

    
}

.intro {
   justify-content: center;
    flex-direction: column;
    display: flex;
    margin-left: 30%;
    
}

p{
    text-align: left;
    font-size: 30px;
}

.left > p{
    font-size: 20px;
    width: 70%;
    font-weight: 500;
    padding-left: 15%;
}

.col-md-6 > h2{
text-align:left;
width:80%;
margin-top: 25%;
padding-left: 15%
}

.col-md-6 > img{
    text-align:left;
    width:100%;
    margin-top: 25%;
    padding-right: 15%;
    
    }


.col-md-6 > .marketing{
    text-align:left;
    width:80%;
    margin-top: 50%;
    padding-left: 15%;
    }

    .col-md-6 > .heading-two{
    width: 80%;
    padding-top: 20%;
}

.footer > p{
    color: white;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: center;
    margin-top: 5%;
}

.footer  {
    justify-content: center;
    flex-direction: column;
    display: flex;
    /* margin-left: 30%; */
    margin-top: 0%;
}


.click{
    align-self: center;
    width:20%;
    
    background-color: #0A459E; /* Green */
   border-radius: 20px;
   border: 2px solid white;
    border-color: white;
    color: white;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    
    }
   